.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.img-box {
  display: flex;
  justify-content: center;
  flex-basis: 70%;
  min-width: 200px;
  min-height: 290px;
  max-width: 600px;
  margin-top: 0;
}

.img-box > img {
  width: 100%;
}

.answer-field {
  display: flex;
  flex-basis: 90%;
  justify-content: center;
}

.row-timer {
  padding-top: 0rem;
}

.score-timer-box {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
  min-width: 200px;
  max-width: 600px;
  margin-bottom: 0;
  margin-top: 0;
}

.row-score {
  padding: 0rem;
}
