.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


/* QUIZ PAGE */

/* ABORT QUIZ MODAL */

.abort-modal-container {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(1, 1, 1, 0.767);
  z-index: 2;
}

.abort-quiz-modal {
  width: 70%;
  height: 200px;
  margin: 40vh auto;
  text-align: center;
}

.abort-quiz-modal > p {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.abort-quiz-modal > a {
  margin: 1rem;
  font-size: 22px;
  font-weight: bold;
}

/* END OF MODAL */

.row-score {
  padding: 0rem;
}

.score-timer-box {
  display: flex;
  justify-content: space-between;
  flex-basis: 85%;
  min-width: 200px;
  max-width: 450px;
  margin-bottom: 0;
  margin-top: 0;
}

.row-timer {
  padding-top: 0rem;
}

.img-box {
  display: flex;
  justify-content: center;
  flex-basis: 95%;
  min-width: 200px;
  max-width: 450px;
  min-height: 370px;
  margin-top: 0;
}

.img-box > img {
  width: 100%;
}

.answer-field {
  display: flex;
  flex-basis: 100%;
  max-width: 500px;
  justify-content: center;
}

/* LEADERBOARD PAGE */

.table-lb-box {
  width: 70%;
  max-width: 300px;
}
