main {
  min-height: 100vh;
  background: linear-gradient(to right top,
    rgb(255, 96, 96),
    rgb(255, 170, 170)
  );
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 0;
}

h2 {
  margin: 0;
}

.column-title {
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 15px;
  padding: 1rem;
}

select {
  width: 200px;
  height: 35px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding: 5px;
}

option {
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
}

.button-submit {
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding: 5px;
  max-width: 150px;
  margin-left: 1rem;
}

.column-ntp {
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 15px;
  padding: .4rem;
}

.column-img {
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  padding: 1rem;
  border-radius: 15px;
}

.five-second-timer {
  padding: 0rem 7rem;
  font-size: 100px;
}

.input {
  width: 60%;
  height: 35px;
  font-size: 24px;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding: 5px;
  max-width: 400px;
}

.button-skip {
  width: 20%;
  height: 35px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding: 5px;
  max-width: 150px;
  margin-left: 1.5rem;
}

.right {
  color: limegreen;
  font-weight: bold;
}

.hidden {
  display: none;
}


.dropbox-head {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  width: 300px;
}

.dropbox {
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding-left: 5px;
  width: 150px;
  margin-top: 0;
}

li {
  font-size: 28px;
  list-style: none;
}

.button-start {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding: 2px;
  width: 50px;
}

.column-lb-stats {
  font-size: 32px;
  font-weight: bold;

  border-radius: 10px;
  background: linear-gradient(to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-style: none;
  padding: 2px;
  width: 250px;
}
