body, a, input {
  font-family: 'VT323', monospace;
  font-weight: bold;
}

main {
  background-color: rgb(177,201,139);
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.hidden {
  display: none;
}

.box-style {
  background-color: rgba(255, 255, 255, 0.4);
  border: 5px solid black;
  border-radius: 10px;
  padding: .5rem;
}


/* HOME PAGE */

.app-title {
  font-size: 64px
}

.dropbox-head {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.dropbox {
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
  padding-left: 5px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-top: none;
}

a, .dropbox-head {
  transition: background-color .5s, color .5s;
  box-shadow: 2.5px 2.5px 5px rgb(78, 78, 78);
}

a:hover, .dropbox-head:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

.dropbox-item {
  font-size: 24px;
  list-style: none;
  transition: font-size .1s;
  padding: 0 .5rem;
}

.dropbox-item:hover {
  cursor: pointer;
  color: rgb(148, 147, 147);
  font-size: 32px;
}

a:active {
  margin-top: 3px;
}

.button-start {
  font-size: 72px;
  text-align: center;
  padding: .2rem 1rem;
}

/* QUIZ PAGE */

/* ABORT QUIZ MODAL */

.abort-quiz-modal {
  background-color: rgba(255, 255, 255, 0.534);
}

.abort-quiz-modal > p {
  font-size: 20px;
  padding-bottom: 1rem;
}

.abort-quiz-modal > a {
  font-size: 22px;
}

.abort-quiz-modal > a:first-of-type {
  transition: background-color 1s;
}

.abort-quiz-modal > a:first-of-type:hover {
  background-color: rgb(167, 0, 0);
}

/* END OF MODAL */

.five-second-timer {
  font-size: 350px;
}

.score-timer-box {
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}

.img-box {
  padding: 1rem;
}

.hard-mode {
  filter: contrast(0%) brightness(0%);
}

.correct-answer {
  animation: flash ease-in 1s running;
}

@keyframes flash {
  from {
    box-shadow: 0rem 0rem 30px lime;
    border-color: rgb(94, 255, 0);
  }
  to {
    box-shadow: 0rem 0rem 0px lime;
    border-color: rgb(0, 39, 8);
  }
}

.pokeball-loader {
  flex-basis: 50px;
  height: 50px;
  align-self: center;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.input {
  width: 80%;
  font-size: 36px;
  max-width: 400px;
  outline: none;
}

.button-skip {
  font-size: 32px;
  margin-left: 1.5rem;
}

/* SCORE DISPLAY MODAL */

.score-modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.808);
  min-height: 100vh;
  width: 100%;
  z-index: 2;
}

.view-score-modal {
  background-color: rgba(255, 255, 255, 0.699);
  display: flex;
  flex-wrap: wrap;
  font-size: 54px;
  justify-content: center;
  margin: 20% auto;
  width: 40%;
}

.view-score-modal > div {
  text-align: center;
  width: 100%;
}

.view-score-modal > a {
  margin: 0 auto;
}

/* LEADERBOARD PAGE */

.lb-head {
  font-size: 32px;
  text-align: center;
}

.lb-body {
  font-size: 24px;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.lb-item {
  font-size: 32px;
  border-bottom: 2px solid black;
  list-style-position: inside;
}

.lb-item:last-child {
  border-bottom: none;
}

.lb-tab {
  font-size: 42px;
  cursor: pointer;
  transition: font-size .3s;
}

.lb-active {
  font-size: 48px;
  border-bottom: 5px solid rgb(148, 147, 147);
  color: rgb(148, 147, 147);
}

.lb-tab:hover {
  font-size: 48px;
  color: rgb(148, 147, 147);
}

/* BOTTOM RIGHT BUTTONS */

.view-lb, .view-home, .button-abort-quiz {
  font-size: 24px;
}
